h1,
h2,
h3,
h4,
h5,
h6 {
	@include font(700);
	color: $dark-violet;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.2rem;
}

p {
	color: $text-color;
	line-height: 1.6;
}
